.container-fluid {
	margin: 0;
	padding: 0;
}

.navbar {
	border-radius: 1px;
	background-color: white;
}

.navbar-brand {
	font-size: 35px;
	color: red;
	padding-left: 25px;
}

.navbar-brand:hover {
	color: #145030;
}

.nav {
	margin: 0;
	padding: 0;
}

.navbar-nav {
	font-size: 50px;
	margin: 0;
	padding: 0;
}

.navbar-toggle {
	border: 10px solid green;
	margin-right: 100px;
}

.icon-bar {
	background-color: blue;
}

.main-title {
	margin-bottom: 15px;
	text-align: center;
	color: brown;
	font-size: 80px;
	font-family: Arial, cusive, sans-serif;
	font-weight: bold;
}

li {
	box-sizing: border-box;
	width: 100%;
}

.menuitem {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: teal;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menuitem:hover {
	background-color: rgba(0, 0, 0, 0.9);
	color: rgba(0, 1, 2, 0.4);
}

.row {
	margin: 20px;
}

.content-box {
	margin: 20px;
	width: auto;
	height: auto;
	color: maroon;
	background-color: white
	padding: 20px;
}

.item-name {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}